Source: audio-loop
Maintainer: Denis <sciamano@users.noreply.github.com>
Section: sound
Priority: optional
Build-Depends: debhelper-compat (=13),
 cmake,
 qt6-base-dev,
 qt6-multimedia-dev,
Standards-Version: 4.6.1
Rules-Requires-Root: no

Package: audio-loop
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: qt app that playes sound in a loop
 qt app that playes sound in a loop.
