[Desktop Entry]
Type=Application
Name=audio loop
Icon=audio-loop
Exec=audio-loop
Terminal=false
Categories=Audio;Player;AudioVideo;
Keywords=Sound;Audio;Player;
X-Desktop-File-Install-Version=0.26
