name: lin

on: [push, pull_request]

permissions:
  contents: write

defaults:
  run:
    shell: bash

jobs:
  lin:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        qt-version: ['6']
        build-type: [Release]
    steps:
    - uses: actions/checkout@v6
    - name: install aqt
      run: |
        echo $GITHUB_JOB
        echo ${{ vars.JOB_NAME }}
        pip3 install aqtinstall
    - name: install Qt
      run: |
        O_DIR=$HOME/Qt
        echo "O_DIR=$O_DIR" >>$GITHUB_ENV
        aqt list-qt linux desktop
        aqt list-qt linux desktop --arch latest
        aqt install-qt linux desktop ${{ matrix.qt-version }} -m qtmultimedia -O $O_DIR
    - name: Qt dir
      run: |
        Qt6_QMAKE=`find $O_DIR -name "qmake6*"`
        echo $Qt6_QMAKE
        Qt6_BINDIR=`dirname $Qt6_QMAKE`
        echo $Qt6_BINDIR
        Qt6_DIR=`dirname $Qt6_BINDIR`
        echo $Qt6_DIR
        QT_PLUGIN_PATH=$Qt6_DIR/plugins
        QML2_IMPORT_PATH=$Qt6_DIR/qml
        echo "Qt6_DIR=$Qt6_DIR" >>$GITHUB_ENV
        echo "Qt6_BINDIR=$Qt6_BINDIR" >>$GITHUB_ENV
        echo "QT_PLUGIN_PATH=$QT_PLUGIN_PATH" >>$GITHUB_ENV
        echo "QML2_IMPORT_PATH=$QML2_IMPORT_PATH" >>$GITHUB_ENV
    - name: build deps
      run: |
        cat /etc/os-release
        cat /etc/apt/sources.list
        ls -la /etc/apt/sources.list.d/
        cat /etc/apt/sources.list.d/microsoft-prod.list
        sudo apt-get -qq update
        sudo apt-get install --assume-yes libgl1-mesa-dev
        sudo apt-get install --assume-yes libpulse0
        sudo apt-get install --assume-yes libqt6gui6
        sudo apt-get install --assume-yes libxcb-cursor0
        sudo apt-get install --assume-yes pulseaudio
        sudo apt-get install --assume-yes pulseaudio-utils
        sudo apt-get install --assume-yes xvfb
    - name: configure
      run: |
        BUILD_DIR=build
        echo "BUILD_DIR=$BUILD_DIR" >>$GITHUB_ENV
        cmake -DCMAKE_PREFIX_PATH=$Qt6_DIR -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} -B $BUILD_DIR -DUSE_DEPLOY=ON
    - name: build
      run: |
        cmake --build $BUILD_DIR --target package
        ls -la $BUILD_DIR
    - name: upload artefacts
      uses: actions/upload-artifact@v4
      with:
        name: lin
        path: ${{ env.BUILD_DIR }}/audio-loop-*
    - name: test
      run: |
        export QT_DEBUG_PLUGINS=1
        systemctl --user start pulseaudio
        xvfb-run ctest --output-on-failure --test-dir $BUILD_DIR/app
    - name: release
      uses: softprops/action-gh-release@v2
      if: matrix.build-type == 'Release' && startsWith(github.ref, 'refs/tags/')
      with:
        tag_name: ${{ github.ref_name }}
        name: ${{ github.ref_name }}
        draft: false
        prerelease: false
        files: ${{ env.BUILD_DIR }}/audio-loop-*
